---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Winter-Spring 2018
======

English For  mathematical  texts (Undergraduate Applied Math)
Nonsmooth Optimization (Ph.D. Applied Math-Optimization)
Special Topics in Measure theory [Uncertainty Theory] (Ph.D. Applied Math-Optimization)

Autumn 2017
=======
Convex Analysis and Nonlinear Optimization (Ph.D. Applied Math-Optimization)
Convex Optimization (Master of Electrical Engineering)
Stochastic Linear optimization (Graduate students in Applied Math)
Discrete Mathematics (Undergraduate course for Computer Science)

Spring 2017
=======
Advanced Topics in Combinatorial Optimization (Ph.D. Applied Math-Optimization)
Network Optimization (Master of applied Math)
English For  mathematical  texts (Undergraduate Applied Math)
